@page
@model AgregarModel
@{
    ViewData["Title"] = "Agregar";
}

<form method="post">
    <div class="mt-5 mb-5">
        <div class="container">
            <div class="p-4 shadow-lg" style="background: var(--bs-gray-100);">
                <div class="row">
                    <input asp-for="@Model.Input.ContractId" type="hidden" class="form-control" readonly="">
                    <input asp-for="@Model.Input.PayerId" type="hidden" class="form-control" readonly="">
                    <div class="col-12 col-md-6 mt-3">
                        <label class="form-label">Código de lote</label>
                        <input value="@Model.Code" type="text" class="form-control" readonly="">
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <label class="form-label">Cliente</label>
                        <input value="@Model.Client" type="text" class="form-control" readonly="">
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <label class="form-label">Saldo</label>
                        <input value="@Model.BalancePaid" type="text" class="form-control" readonly="">
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <label class="form-label">Acumulado</label>
                        <input value="@Model.BalancePayable" type="text" class="form-control" readonly="">
                    </div>
                    <div class="col-12 mt-3">
                        <label class="form-label">Concepto</label>
                        <textarea asp-for="@Model.Input.Description" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
        <div class="container">
            @for (int i = 0; i < Model.Input.PaymentDetails.Length; i++)
            {
                <div class="p-4 shadow-lg mb-3" style="background: var(--bs-gray-100);">
                    <div class="row">
                        <div class="col-12 col-md-3 mt-3">
                            <label class="form-label">Detalle</label>
                            <select asp-for="@Model.Input.PaymentDetails[i].PaymentMethodId" class="form-control" asp-items="@Model.PaymentMethods" disabled>
                            </select>
                        </div>
                        <div class="col-12 col-md-3 mt-3">
                            <label class="form-label">Cantidad</label>
                            <input asp-for="@Model.Input.PaymentDetails[i].Amount" type="number" class="form-control">
                        </div>
                        @if (@Model.Input.PaymentDetails[i].PaymentMethodId != PaymentMethod.Efectivo.PaymentMethodId)
                        {
                            <div class="col-12 col-md-3 mt-3">
                                <label class="form-label">Banco</label>
                                <select asp-for="@Model.Input.PaymentDetails[i].BankId" class="form-control" asp-items="@Model.Banks">
                                    <option value="0" selected>Escoge un banco</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-3 mt-3">
                                <label class="form-label">Referencia</label>
                                <input asp-for="@Model.Input.PaymentDetails[i].ReferenceNumber" type="text" class="form-control">
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="p-4 shadow-lg mb-3" style="background: var(--bs-gray-100);">
                <div class="row">
                    <div class="col-12 col-md-3 mt-3">
                        <button class="btn btn-warning form-control" type="submit">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}