@page
@model Web.Pages.MiCuenta.PerfilModel
@{
    ViewData["Title"] = "Perfil";
}

<div class="mb-5 mt-5">
    <div class="container">
        <div class="rounded-3 shadow-lg" style="background: var(--bs-gray-100);padding: 2rem;">
            <div class="row">
                <div class="col-12 col-md-12 text-center"><img src="../assets/img/profile.png" style="width: 7rem;"></div>
                <div class="col-12 text-center mt-3">
                    <h4>Información personal</h4>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.FirstName">
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.LastName">
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">CUI</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.NationalId">
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Nacimiento</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.Birthday.Value.ToString("dd/MM/yyyy")">
                </div>
            </div>
        </div>
        <div class="mt-5 rounded-3 shadow-lg" style="background: var(--bs-gray-100);padding: 2rem;">
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Información de contacto</h4>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Correo</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.EmailAddress">
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.PhoneNumber">
                </div>
                <div class="col-12 mt-3">
                    <label class="form-label">Dirección</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.Address.Name">
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Departamento</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.Address.City.State.Name">
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <label class="form-label">Municipio</label>
                    <input type="text" class="form-control" readonly="" value="@Model.Person.Address.City.Name">
                </div>
            </div>
        </div>
    </div>
</div>